.dashboard {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.modules-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.module-card {
  margin-top: 20px;
  background: linear-gradient(145deg, #c8f7c5, #92e395);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #fff;
  border-radius: 10px;
}

.module-card:hover {
  transform: translateY(-1px);
}

.card-header {
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.search-input {
  padding: 12px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.chart-container {
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.module-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
}

.module-table th,
.module-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #515151;
}

.module-table th {
  background-color: #38b673;
  color: #000;
}

.stat-card {
  text-align: center;
  padding: 15px;
  background: linear-gradient(145deg, #298a50, #174e30) !important;
  border-radius: 50%;
  color: #fff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.stat-card2 {
  text-align: center;
  padding: 25px;
  background: #8e8d8d !important;
  border-radius: 55px;
  color: #000 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.stat-card:hover {
  transform: scale(1.05);
}

.stat-card h6 {
  margin-bottom: 5px;
  font-size: 16px;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.filter-button {
  margin: 5px 0;
  background-color: #f1f3f4 !important;
  color: #38b673 !important;
  border: 2px solid #38b673 !important;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #38b673 !important;
  color: white !important;
}

.fixed-search-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #38b673;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #38b673;
  border-radius: 5px;
}

.content-offset {
  margin-top: 80px;
}
